{% extends "base.html" %}

<!-- Current_user is admin -->
{% set vars = {'current_user_is_admin': False} %}
{% for r in current_user.roles %}
  {% if r.name == "admin"%}
      {% if vars.update({'current_user_is_admin': True}) %}{% endif %}
  {% endif %}
{% endfor %}

{% block vertical_menu %}
  <li role="presentation" {% if title == "Home" %} class="active" {% endif %}><a href="{{ url_for('admin.home_page') }}">Home</a></li>
  <li role="presentation" {% if title == "Members" %} class="active" {% endif %}><a href="{{ url_for('admin.members_page') }}">Members</a></li>
  {% if vars.current_user_is_admin %}
  <li role="presentation" {% if title == "Roles" %} class="active" {% endif %}><a href="{{ url_for('admin.roles_page') }}">Roles</a></li>
  {% endif %}
{% endblock %}
