{% extends "source_options_page.html" %}

<!-- Macros Form -->
{% from "macros/form_macros.html" import render_field, render_submit_field%}

{% block content_source_options %}
  <h3>Credentials Twitter, {{description}}</h3>

  <!-- Form -->
  <div class="row credentials_twitter">
    <div class="col-sm-6 col-md-7 col-lg-8">
      <form  action="" method="POST" enctype="multipart/form-data">
        {{ form_credentials.hidden_tag() }}
        {{render_field(form_credentials.token, label_visible=True)}}
        {{render_field(form_credentials.token_secret, label_visible=True)}}
        {{render_field(form_credentials.consumer_key,label_visible=True)}}
        {{render_field(form_credentials.consumer_secret,label_visible=True)}}
        {{ render_submit_field(form_credentials.submit) }}
      </form>
    </div>
  </div>
{% endblock %}
