{% extends "base_admin.html" %}
  {% block content_admin %}
    <h1>Data Task</h1>
    <div id="data_task_btn center">
      <a href="{{url_for('data_task.channel_options_page', channel='twitter')}}"  class="btn btn-default" role="button">
        <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
      </a><br><br>
      <a href="{{url_for('data_task.channel_options_page', channel='facebook')}}"  class="btn btn-default" role="button">
        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
      </a>
      <a href="{{url_for('data_task.channel_options_page', channel='github')}}"  class="btn btn-default" role="button">
        <i class="fa fa-github" aria-hidden="true"></i> Github
      </a><br><br>
      <a href="{{url_for('data_task.channel_options_page', channel='g-analytics')}}"  class="btn btn-default" role="button">
        <i class="fa fa-google" aria-hidden="true"></i> Google - Analytics
      </a>
    </div>

  {% endblock %}
