{% extends "base_home.html" %}
{% block content_home %}
<h2>City page</h2>
<p>This page is of city Dashboard Barcelona</p>
<div class="">
  <a data-flickr-embed="true"  href="https://www.flickr.com/photos/lutor44/263207066/in/photolist-pg1hS-8YS17D-KJ6EWs-JbwP6N-GNvTr3-pCTWiC-4FLhSY-aa26rT-9YN21s-8FT1qY-4FG8eM-rn4gxJ-rAQ97o-dy81Tx-9jUXSJ-9MMeUZ-drCVqc-daUrSk-nC4JjD-8YVyYb-qtfyAe-kUxNt-rHxG14-fNo2HU-rgsxWP-azWMxq-kR8ixQ-zaW145-ds7dvq-dvfAV2-rgmmQD-dp9GwB-dWN5Eo-dAX1Vc-o15RUw-eRfhci-9y95hY-kYexCQ-dmtF9N-aDYqZq-FsneTz-4FG5TM-nUsjF3-dy1pGP-A4MJYJ-dprbB2-HaR71U-dyhe1d-kKTap-svNsbJ" title="Barcelona"><img src="https://c1.staticflickr.com/1/90/263207066_12f9054992_b.jpg" width="624" height="481" alt="Barcelona"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>
{% endblock %}
