/* Gloval style */
body {
    font-family: "Roboto Slab", sans-serif;
    background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

a{
  color:#01A158;
}

a :hover, a :focus, a :active, a .active {
    color: #d41111;
}

/* Forms */
.form-control:focus{
  border-color: #01A158;
}

input[type="text"]{
  border-radius: 0px;
}

/* Buttons */
.btn{
  border-radius: 0px;
}

.btn-primary {
  background-color: #01A158;
  border-color: #01A158;

}

.btn-primary:hover{
  background-color: #ffffff;
  color:#797882;
}

/* List -group  */
.list-group-item:first-child, .list-group-item:last-child{
    border-radius: 0px;
}

.list-group-item.active {
  background-color: #01A158;
  border-color: #01A158;
  z-index: 2;
}

a.list-group-item:focus, a.list-group-item:hover, .list-group-item.active:focus, .list-group-item.active:hover  {
  background-color: #faece1;
  border-color: #01A158;
  color:#d41111;
  z-index: 2;
}

/* Base */
#main-div{
  margin-left: 5em;
  margin-right: 5em;
}

/* Profile */
.thumbnail{
  border-radius: 0px;
}
#avatar{
  font-size: 88px;
  margin-top: 0.4em;
  margin-left: 0.1em;
}

/* Edit profile */
#links_Username_Pass{
  margin-top: 10px;
}

/* profile roles */
#submit_role{
  margin-left: -1.5em;

}

#submit_roles_user{
  margin-top: 0.9px;
}


/* Navbar */
#icon-web{
  width: 32px;
  margin-top: 0.5em;
}

.navbar {
    width: 100%;
    border-radius: 0px;
    font-size:  1.3em;
}

.navbar-default {
    background-color: #222;
    border-color: #222;
}

.navbar-default .navbar-nav li a {
    color: #F7F7F7;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: #F7F7F7;
    background-color: #01A158;

}

.dropdown-menu {
    background-color: #e8e8e8;
}
/* -------------- */


/* Vertical-menu */
#vertical-menu{
  margin-top: 2em;
  margin-right: 2em;
  border-right: 1px solid  #ddd;
}
.nav-pills > li > a{
  border: 1px solid  #F7F7F7;
  border-radius: 0px;
}
.nav-pills > li.active > a{
  background-color: #01A158;

}

.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
  background-color: #faece1;
  border-color: #01A158;
  color:#d41111;
}
/* --------------- */


/* Roles */
.list-group-item p{
  text-align: right;
}
