{% extends "members/profile_page.html"  %}
{% set user = current_user %}

<!-- Title -->
{% block title %}
  <h2>My Profile page</h2>
{% endblock %}

<!-- Macros Form -->
{% from "macros/form_macros.html" import render_field, render_submit_field%}

<!-- Block edit -->
{% block profile_edit %}

<!-- First_name & last_name -->
  {% if (user.first_name==" " and user.last_name==" ") or name=="True" %}
    <!-- Form -->
    <form action="" method="POST" class="form" role="form_user">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
        {{ form_user.hidden_tag() }}
        {{ render_field(form_user.first_name, tabindex=240, value=user.first_name ) }}
        {{ render_field(form_user.last_name, tabindex=240, value=user.last_name) }}
        {{ render_submit_field(form_user.submit) }}
        </div>
      </div>
    </form>

  {% else %}
    <!-- Text + Link-edit -->
    <p><b>name:</b> {{user.first_name}} {{user.last_name}} <a href="?name=True"><span class="glyphicon glyphicon-pencil"></span></a></p>
  {% endif %}

  <!-- Link edit username & password -->
  <div id="links_Username_Pass">
    {% if user_manager.enable_change_username %}
    <a href="{{ url_for('user.change_username') }}">{%trans%}Change username{%endtrans%}</a>
    {% endif %}
    {% if user_manager.enable_change_password %}
    <p><a href="{{ url_for('user.change_password') }}">{%trans%}Change password{%endtrans%}</a></p>
    {% endif %}
  </div>

{% endblock %}

<!-- Not buttons -->
{% block buttons %}

{% endblock %}
