<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UsersApp - {{title}}{% if subtitle %}, {{subtitle}}{% endif %} page</title>

  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Montserrat:400,700|Roboto+Slab:400,700" rel="stylesheet">

<!-- Style from page -->
<link rel="stylesheet"  type="text/css" href="/static/style.css">


</head>
<body>

  <div class="container-fluid">
     {% block body %}
      <!-- NavBar -->
      {% include 'navbar.html' %}

      <div id="main-div" class="with-margins">

      <!-- Messages -->
      {# One-time system messages called Flash messages #}
      {% block flash_messages %}
         {%- with messages = get_flashed_messages(with_categories=true) -%}
             {% if messages %}
                 {% for category, message in messages %}
                     {% if category=='error' %}
                         {% set category='danger' %}
                     {% endif %}
                     <div class="alert alert-{{category}}">{{ message|safe }}</div>
                 {% endfor %}
             {% endif %}
         {%- endwith %}
      {% endblock %}

      <!-- Current_user is admin -->
      {% set vars = {'current_user_is_admin': False} %}
      {% for r in current_user.roles %}
        {% if r.name == "admin"%}
            {% if vars.update({'current_user_is_admin': True}) %}{% endif %}
        {% endif %}
      {% endfor %}

      <!-- Modal -->
      {% include 'modal.html' %}

      <div class="row">
        <!-- vertical menu -->
        <div id="vertical-menu" class="col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" {% if title == "Home" %} class="active" {% endif %}><a href="/">Home</a></li>
            <li role="presentation" {% if title == "Members" %} class="active" {% endif %}><a href="/members">Members</a></li>
            {% if vars.current_user_is_admin %}
            <li role="presentation" {% if title == "Roles" %} class="active" {% endif %}><a href="/roles">Roles</a></li>
            {% endif %}
          </ul>
        </div>
        <!-- Content -->
        <div class="col-sm-8 col-md-9 col-lg-9">
          {% block main %}{% block content %}{% endblock %}{% endblock %}
        </div>
      </div>



      </div>

    {% endblock %}
  </div>

</body>
</html>
