{% extends "base.html" %}

{% block content %}
    <!-- Title -->
    {% block title %}
      <h2>Profile page</h2>
    {% endblock %}
    <div class="row">
      <div class="col-sm-10 col-md-5">

        <!-- Thumbnail -->
        <div class="thumbnail">

          <! -- Avatar -->
          <span id="avatar" class="glyphicon glyphicon-user"></span>
          <div class="caption">

            <!-- Username & email -->
            <h3>{{user.username}}</h3>
            <p><b>email:</b> {{user.email}}</p>

            <!-- Block edit -->
            {% block profile_edit %}

              <!-- First_name & last_name -->
              <p>
                {% if user.first_name==" " and user.last_name==" " %}
                  <b>name:</b> <i>no entry</i></p>
                {% else %}
                  <b>name:</b> {{user.first_name}} {{user.last_name}}
                {% endif %}
              </p>

            {% endblock %}

            <!-- Roles -->
            <p>
              <b>Roles:</b>
              {% for r in user.roles %}
                {{r.name}}
              {% endfor %}
            </p>

            <!-- Buttons -->
            {% block buttons %}
            <p>
              {% if current_user.username == user.username %}
              <a href="/members/myprofile/edit" class="btn btn-primary" role="button">Edit</a>
              {% endif %}
               <a href="/members" class="btn btn-default" role="button">Members</a>
             </p>
            {% endblock %}

          </div>
        </div>

      </div>
    </div>
{% endblock %}
