{% extends "base.html" %}

{% block content %}
    <!-- Title -->
    {% block title %}
      <h2>Profile page</h2>
    {% endblock %}
    <div class="row">
      <div class="col-sm-10 col-md-5">

        <!-- Thumbnail -->
        <div class="thumbnail">

          <! -- Avatar -->
          <span id="avatar" class="glyphicon glyphicon-user"></span>
          <div class="caption">

            <!-- Username & email -->
            <h3>{{user.username}}</h3>
            <p><b>email:</b> {{user.email}}</p>

            <!-- Block edit -->
            {% block profile_edit %}

              <!-- First_name & last_name -->
              <p>
                {% if user.first_name==" " and user.last_name==" " %}
                  <b>name:</b> <i>no entry</i></p>
                {% else %}
                  <b>name:</b> {{user.first_name}} {{user.last_name}}
                {% endif %}
              </p>

            {% endblock %}

            <!-- Roles -->
            {% block roles %}
              <p>
                <b>Roles:</b>
                {% for r in user.roles %}
                  {{r.name}}
                {% endfor %}
              </p>
            {% endblock %}

            <!-- Buttons -->
            {% block buttons %}
            <p>
              {% set vars = {'type_user' : ' '} %}

              {# According to roles and user select #}
              {% for role_cu in current_user.roles %}

                {# Role admin and current_user #}
                {% if role_cu.name == "admin" and  current_user.username == user.username %}
                  {% if vars.update({'type_user' : 'admin_currentuser'}) %}{% endif %}

                {# Role admin  #}
                {% elif role_cu.name == "admin" %}
                  {% if vars.update({'type_user' : 'admin'}) %}{% endif %}

                {# Only current_user #}
                {% elif  current_user.username == user.username and vars.type_user != 'admin_currentuser' and vars.type_user != 'currentuser'  %}
                    {% if vars.update({'type_user' : 'currentuser'}) %}{% endif %}
                {% endif %}
              {% endfor %}

              {# According to the above choose a url #}
              {% if vars.type_user == 'admin_currentuser' %}
                <a href="/members/myprofile/edit/admin" class="btn btn-primary" role="button">Edit</a>
              {% elif vars.type_user == 'admin' %}
                <a href="/members/profile/roles/edit/{{user.username}}" class="btn btn-primary" role="button">Edit</a>
              {% elif vars.type_user == 'currentuser' %}
                  <a href="/members/myprofile/edit" class="btn btn-primary" role="button">Edit</a>
              {% endif %}               
             </p>
            {% endblock %}

          </div>
        </div>

      </div>
    </div>
{% endblock %}
