<!-- Macros Form -->
{% from "macros/form_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<p>

      <b>Roles</b>
      <!-- Form add roles -->
      <form action="/members/roles/add?user={{user.username}}" method="POST" class="form_role" role="form">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-lg-4">
            {{ form_user.hidden_tag() }}
            {{ render_field(form_role.name, label_visible=false, placeholder="Add role") }}

          </div>
          <div id="submit_role" class="col-sm-1 col-md-1 col-lg-1">
            {{ render_submit_field(form_role.submit) }}
          </div>
        </div>
      </form>

      <!-- Form select / deselect roles to user -->
      <form action="/members/roles/add/{{user.username}}" method="POST" class="form_role_user" role="form">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-lg-4">
            {{ form_user.hidden_tag() }}

            {# User roles are compared to general roles #}
            {% for role in roles %}
              {# I create a dictionary to save the value in the next for #}
              {% set vars = {'user_role_checked' : false} %}

              {% for role_u in user.roles %}
                {% if role_u.name==role.name %}
                  {% if vars.update({'user_role_checked' : true}) %}{% endif %}
                {% endif %}
              {% endfor %}

              {# render checbox  select or deselect #}
              {{ render_checkbox_field( form_role.name, label=role.name, value=role.name, checked=vars.user_role_checked) }}
            {% endfor %}

          </div>
        </div>
        <div id="submit_roles_user" class="row">
          <div class="col-sm-6 col-md-5 col-lg-4">
            {{ render_submit_field(form_user.submit) }}
          </div>
        </div>
      </form>

</p>
